<div class="edit-customer-container">
    <div class="main-content glass-form">
        <div class="header">
            <h2>View Customer</h2>
            <i class="fa fa-user fa-2x"></i>
        </div>

        <div class="form-container">
            <form (ngSubmit)="updateCustomer()" #customerForm="ngForm">
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Firstname</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="customer.firstname" name="firstname" />
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Lastname</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="customer.lastname" name="lastname" />
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Address</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="customer.address" name="address" />
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <div class="input-with-icon">
                            <input placeholder="0617351943" type="text"
                            [(ngModel)]="customer.phoneNumber" name="mobileNumber" #mobileNumber="ngModel"
                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$" (keypress)="validatePhoneNumber($event)"
                            (input)="sanitizePhoneNumber()"/>
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Email</label>
                        <div class="input-with-icon">
                            <input type="email" [(ngModel)]="customer.email" name="email"
                                   [pattern]="emailPattern" (blur)="onEmailBlur()" (focus)="onEmailFocus()"/>
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div *ngIf="customer.isDeleted" class="deleted-checkbox">
                      <label class="checkbox-label">
                        <input type="checkbox" [(ngModel)]="customer.isDeleted" name="isDeleted"
                               class="large-checkbox" />
                        <span class="checkbox-text">{{ customer.isDeleted ? 'Deleted' : 'Active' }}</span>
                      </label>
                    </div>
                    <div class="form-group" style="flex: none;">
                      <div class="button-container">
                        <button *ngIf="!customer.isDeleted" type="button" class="delete-button"
                                (click)="deleteCustomer(customer.id)">Delete</button>
                        <button type="submit" class="save-button">Save</button>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>