<div class="create-user-container">
   <div class="main-content glass-form">
      <div class="header">
         <h2>Employee Details</h2>
         <i class="fas fa-user"></i>
      </div>
      <div class="form-container">
         <div class="image-container">
            <img [src]="user.imageUrl || 'https://i.ibb.co/tpytj2f8/JMYv1992-YQ-1.jpg'" alt="Employee Image" />
         </div>
         <form (ngSubmit)="updateUser()" #createUserForm="ngForm">
            <div class="column-in-row">
               <div class="form-group">
                  <label>Firstname</label>
                  <div class="input-with-icon">
                     <input required type="text" placeholder="First Name" [(ngModel)]="user.firstname" name="firstname" />
                     <i class="fa fa-user"></i>
                  </div>
               </div>
               <div class="form-group">
                  <label>Lastname</label>
                  <div class="input-with-icon">
                     <input required type="text" placeholder="Last Name" [(ngModel)]="user.lastname" name="lastname" />
                     <i class="fa fa-user"></i>
                  </div>
               </div>
            </div>
            <div class="column-in-row">
               <div class="form-group">
                  <label>Email</label>
                  <div class="input-with-icon">
                     <input required type="email" [(ngModel)]="user.email" name="email" #email="ngModel"
                        (focus)="onEmailFocus()" (blur)="onEmailBlur()" [pattern]="emailPattern"
                        placeholder="mss@gmail.com">
                     <i class="fa fa-envelope"></i>
                  </div>
                  <div *ngIf="(email.touched || createUserForm.submitted) && email.invalid" class="error-message">
                     <small *ngIf="email.errors?.['required']">Email is required.</small>
                     <small *ngIf="email.errors?.['pattern']">Please enter a valid email address.</small>
                  </div>
               </div>
            </div>
            <div class="column-in-row">
               <div class="form-group">
                  <label>Phone number</label>
                  <div class="input-with-icon">
                     <input required type="text" placeholder="0617351943"
                        [(ngModel)]="user.mobileNumber" name="mobileNumber" #mobileNumber="ngModel"
                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$" (keypress)="validatePhoneNumber($event)"
                        (input)="sanitizePhoneNumber()" (focus)="onMobileNumberFocus()" (blur)="onMobileNumberBlur()" />
                     <i class="fa fa-phone"></i>
                  </div>
                  <div *ngIf="(mobileNumber.touched || createUserForm.submitted) && mobileNumber.invalid"
                     class="error-message">
                     <small *ngIf="mobileNumber.errors?.['required']">Phone number is required.</small>
                     <small *ngIf="mobileNumber.errors?.['pattern']">Invalid phone number format.</small>
                  </div>
               </div>
            </div>
            <div class="column-in-row">
               <div class="form-group">
                  <label>Role</label>
                  <ng-select [(ngModel)]="user.role" name="role" [items]="roles"
                      bindLabel="name" bindValue="value" placeholder="Select Role" [searchable]="false"
                      [clearable]="false">
                  </ng-select>
               </div>
            </div>
            <div class="column-in-row">
               <div class="form-group">
                  <label>Address</label>
                  <div class="input-with-icon">
                     <input type="text" placeholder="Address" [(ngModel)]="user.address" name="address" />
                     <i class="fa fa-map-marker"></i>
                  </div>
               </div>
               <div class="form-group">
                  <label>Date Of Birth</label>
                  <div class="input-with-icon">
                     <input type="date" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" />
                     <i class="fa fa-calendar"></i>
                  </div>
               </div>
            </div>
            <div class="column-in-row">
               <div class="form-group">
                  <label>Number of Children</label>
                  <div class="input-with-icon">
                     <input type="number" min="0" placeholder="0" [(ngModel)]="user.numberOfChildren" name="numberOfChildren" />
                     <i class="fa fa-child"></i>
                  </div>
               </div>
            </div>
            <div class="column-in-row">
               <div *ngIf="user.isDeleted" class="deleted-checkbox">
                  <label class="checkbox-label">
                      <input type="checkbox" [(ngModel)]="user.isDeleted" name="isDeleted"
                          class="large-checkbox" />
                      <span class="checkbox-text">{{ user.isDeleted ? 'Deleted' : 'Active' }}</span>
                  </label>
              </div>
              <div class="button-row">
               <button *ngIf="!user.isDeleted" type="button" class="delete-button"
                          (click)="deleteUser(user.id)">Delete User</button>
               <button type="submit" class="save-button">Update User</button>
             </div>
            </div>
         </form>
      </div>
   </div>
</div>