<div class="edit-vehicle-container">
    <div class="main-content glass-form">
        <div class="header">
            <h2>View Vehicle</h2>
            <i class="fa fa-car fa-2x"></i>
        </div>

        <div class="form-container">
            <form (ngSubmit)="updateVehicle()">
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Manufacturer</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="vehicle.manufacturer" name="manufacturer" />
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="vehicle.model" name="model" />
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Vehicle Plate</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="vehicle.vehiclePlate" name="vehiclePlate" />
                            <i class="fa fa-id-card"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>VIN</label>
                        <div class="input-with-icon">
                            <input maxlength="21" (input)="formatVin($event)" type="text" [(ngModel)]="vehicle.vin"
                                name="vin" />
                            <i class="fa fa-barcode"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Year of Manufacture</label>
                        <div class="input-with-icon">
                            <input type="number" [(ngModel)]="vehicle.yearOfManufacture" name="yearOfManufacture"
                                class="large-year-input" />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Select Customer</label>
                        <ng-select [(ngModel)]="vehicle.customerId" name="userId" [items]="customers"
                            bindLabel="fullName" bindValue="id" placeholder="Select Customer" [searchable]="true"
                            [clearable]="true">
                        </ng-select>
                    </div>
                </div>
                <div class="column-in-row">
                    <div *ngIf="vehicle.isDeleted" class="deleted-toggle">
                        <label class="toggle-label">
                            <input type="checkbox" [(ngModel)]="vehicle.isDeleted" name="isDeleted"
                                class="hidden-checkbox" />
                            <span class="toggle-slider">
                                <span class="toggle-status">{{ vehicle.isDeleted ? 'Deleted' : 'Active' }}</span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group" style="flex: none;">
                        <div class="button-container">
                          <button *ngIf="!vehicle.isDeleted" type="button" class="delete-button"
                                  (click)="deleteVehicle(vehicle.id)">Delete</button>
                          <button type="submit" class="save-button">Save</button>
                        </div>
                      </div>
                    </div>
            </form>
        </div>
    </div>
</div>