.header {
  background-color: rgba(44, 43, 41, 255);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  margin-right: 20px;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

.header-button-item,
.dropdown-item {
  text-decoration: none;
  color: whitesmoke !important;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.02rem;
}

.header-button,
.log-out-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.02rem;
  color: whitesmoke;
}

.log-out-button {
  margin-left: auto;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background-color: rgba(44, 43, 41, 255);
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 0.95rem;
  color: whitesmoke;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-container {
  height: 50px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-dropdown {
  margin-left: auto;
}

.user-dropdown .dropdown-content {
  right: -20px;
  left: auto;
  top: 100%;
  min-width: 150px;
}

.logo-drop {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.logo-drop-container {
  display: flex;
  align-items: left;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logo-drop-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo-drop {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
