<div class="edit-service-type-container">
    <div class="main-content glass-form">
        <div class="header">
            <h2>Edit Service Type</h2>
            <i class="fa fa-wrench fa-2x"></i>
        </div>
        <div class="form-container">
            <form (ngSubmit)="updateServiceType()">
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Type Of Service</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="serviceType.typeOfService" name="serviceType" />
                            <i class="fa fa-wrench"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <div class="input-with-icon">
                            <input type="text" [(ngModel)]="serviceType.description" name="description" />
                            <i class="fa fa-info-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Select Service</label>
                        <ng-select [(ngModel)]="serviceType.serviceId" name="serviceId" [items]="services"
                            bindLabel="invoiceCode" bindValue="id" placeholder="Select Service" [searchable]="true"
                            [clearable]="true">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label>Price €</label>
                        <div class="input-with-icon">
                            <input type="number" min="0" oninput="validity.valid||(value='');" [(ngModel)]="serviceType.price" name="price" />
                            <i class="fa fa-euro-sign"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Part Identification Code</label>
                        <div class="input-with-icon">
                            <input placeholder="AH843R92" type="text" [(ngModel)]="serviceType.partCode" name="partCode" />
                            <i class="fa fa-barcode"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <div class="input-with-icon">
                            <input placeholder="1" type="number" min="1" [(ngModel)]="serviceType.quantity" name="quantity" />
                            <i class="fa fa-hashtag"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div *ngIf="serviceType.isDeleted" class="deleted-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" [(ngModel)]="serviceType.isDeleted" name="isDeleted"
                                class="large-checkbox" />
                            <span class="checkbox-text">{{ serviceType.isDeleted ? 'Deleted' : 'Active' }}</span>
                        </label>
                    </div>
                    <div class="form-group" style="flex: none;">
                        <div class="button-container">
                          <button *ngIf="!serviceType.isDeleted" type="button" class="delete-button"
                                  (click)="deleteServiceType(serviceType.id)">Delete</button>
                          <button type="submit" class="save-button">Save</button>
                        </div>
                      </div>
                    </div>
            </form>
        </div>
    </div>
</div>