<div class="customer-list">
  <div class="header">
    <h2>Serviced Vehicles</h2>
    <i class="fa fa-user fa-2x"></i>
  </div>
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>Phone number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" (click)="getCustomerById(customer.id)" style="cursor: pointer;">
        <td>{{ customer.firstname }}</td>
        <td>{{ customer.lastname }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phoneNumber }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="customers.length === 0">
      <tr>
        <td colspan="8" style="text-align: center;">No customers found.</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalItems" [pageSize]="pageSize"
    [pageIndex]="currentPage" (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>
</div>
