.main-container {
  display: flex; // Use flexbox for layout
  gap: 20px; // Space between sidebar and customer list
}
  app-sidebar {
    width: 250px; // Set a fixed width for the sidebar
    flex-shrink: 0; // Prevent shrinking
  }

.customer-list {
  margin: 20px auto; // Center the customer list
  padding: 25px; // Adjust padding for better spacing
  max-width: 800px; // Set a maximum width for the customer list
  border-radius: 10px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef); // Use a gradient background
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;

    h2 {
      font-family: 'Arial', sans-serif;
      font-size: 26px;
      color: #495057;
      margin: 0;
    }

    i {
      color: #ffa726;
      font-size: 28px;
    }
  }

  .search-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    input {
      width: 100%; // Make the search fields full width
      padding: 10px 15px;
      font-size: 15px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:focus {
        border-color: #ffa726;
        box-shadow: 0 0 0 4px rgba(255, 165, 38, 0.2);
        outline: none;
      }

      &::placeholder {
        color: #adb5bd;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;

    th {
      padding: 14px 20px;
      border: 1px solid #e9ecef;
      text-align: left;
      transition: background-color 0.3s;
      font-size: 15px;
      background-color: #f1f3f5;
      color: #495057;
      font-weight: 600;
      text-transform: uppercase;
    }

    td {
      padding: 14px 20px;
      border: 1px solid #e9ecef;
      text-align: left;
      font-size: 15px;
      background-color: #ffffff; // Set the background color to white
      transition: background-color 0.3s; // Add transition for smooth effect
    }

    tbody tr {
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #dbe9ff !important; // Light blue color on hover
        transform: scale(1.03);
        
        // Ensure the <td> background changes on hover
        td {
          background-color: #dbe9ff !important; // Match the hover color for <td>
        }
      }
    }
  }
}
