<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="customer-list">
    <div class="header">
      <h2>Mechanics</h2>
      <i class="fa fa-user fa-2x"></i>
      <div class="toggle-container">
        <mat-slide-toggle [checked]="isDeleted" color="primary" class="customer-toggle" (change)="onToggleChange($event)">
           Deleted Mechanics
        </mat-slide-toggle>
      </div>
    </div>
    <div class="search-fields">
      <input type="text" [formControl]="fullNameControl" placeholder="Search Name">
      <input type="text" [formControl]="addressControl" placeholder="Search Address">
      <input type="text" [formControl]="emailControl" placeholder="Search Email">
      <input type="text" [formControl]="phoneNumberControl" placeholder="Search Phone Number">
    </div>
    <table>
      <thead>
        <tr>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>ADDRESS</th>
          <th>EMAIl</th>
          <th>PHONE NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of users" (click)="getUsersById(customer.id)">
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.mobileNumber }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="5">No customers found.</td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalItems" [pageSize]="pageSize"
      [pageIndex]="currentPage" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
