<div class="app-layout">
    <div class="card-title-container">
        <a href="/admin-users">
            <img src="/assets/images/mechanic-card.png" alt="Mechanic card image" class="card" />
        </a>
        <a href="/revenue">
            <img src="/assets/images/money-card.png" alt="Cash image" class="card" />
        </a>
        <a href="/email">
            <img src="/assets/images/email-card.png" alt="Cash image" class="card" />
        </a>
        <a href="/vacation-admin">
            <img src="/assets/images/time-off-card.png" alt="Time Off card image" class="card" />
        </a>
    </div>
</div>
