.app-layout {
    display: flex;
    flex-wrap: wrap;
}


.app-layout {
    display: flex;
}


.card-title-container {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 10vh 5% 0 10%;
    gap: 40px;
    flex-wrap: wrap;
}

.card-title-container a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.card {
    width: clamp(140px, 14vw, 180px);
    height: clamp(210px, 21vw, 270px);
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
  .card-title-container {
    margin: 5vh 5% 0 5%;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .card-title-container {
    margin: 2vh 5% 0 5%;
  }
}
