<div class="app-layout">
    <app-sidebar></app-sidebar>
    <div class="card-title-container">
        <a href="/admin-users">
            <img src="/assets/images/machanic-card.png" alt="Mechanic card image" class="card" />
        </a>
    </div>
    <div class="card-title-container">
        <a href="/revenue">
            <img src="/assets/images/money-card.png" alt="Cash image" class="card" />
        </a>
    </div>
    <div class="card-title-container">
        <a href="/email">
            <img src="/assets/images/email-card.png" alt="Cash image" class="card" />
        </a>
    </div>
</div>
