<div class="edit-service-container">
    <div class="main-content glass-form">
        <div class="header">
            <h2>View Service</h2>
            <div class="header-icons">
                <i class="fa fa-wrench fa-2x"></i>
              <img src="assets/images/pdf-icon.png" alt="Download PDF" (click)="printService(serviceId)"
                   style="cursor: pointer; width: 40px; height: 40px;" />
            </div>
          </div>

        <div class="form-container">
            <form (ngSubmit)="updateService()">
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Select Vehicle</label>
                        <ng-select [items]="vehicles" bindLabel="fullName" bindValue="id"
                            [placeholder]="'Select Vehicle'" [searchable]="true" [clearable]="true"
                            [(ngModel)]="service.selectedVehicle" [(ngModel)]="service.vehicleId" name="vehicle">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label>Select Mechanic</label>
                        <ng-select [items]="users" bindLabel="fullName" bindValue="id" [placeholder]="'Select Mechanic'"
                            [searchable]="true" [clearable]="true" [(ngModel)]="service.userId" name="user">
                        </ng-select>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Current Mileage</label>
                        <div class="input-with-icon">
                            <input type="number" [(ngModel)]="service.currentMileage" name="currentMileage" />
                            <i class="fa fa-tachometer"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Next Service Mileage</label>
                        <div class="input-with-icon">
                            <input type="number" [(ngModel)]="service.nextServiceMileage" name="nextServiceMileage" />
                            <i class="fa fa-tachometer"></i>
                        </div>
                    </div>
                </div>
                <div class="column-in-row">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div class="input-with-icon">
                            <input type="date" [(ngModel)]="service.startDate" name="startDate" />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <div class="input-with-icon">
                            <input type="date" [(ngModel)]="service.endDate" name="endDate" />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>

                <div class="column-in-row">
                    <div *ngIf="service.isDeleted" class="deleted-toggle">
                        <label class="toggle-label">
                            <input type="checkbox" [(ngModel)]="service.isDeleted" name="isDeleted"
                                class="hidden-checkbox" />
                            <span class="toggle-slider">
                                <span class="toggle-status">{{ service.isDeleted ? 'Deleted' : 'Active' }}</span>
                            </span>
                        </label>
                    </div>
                <div class="form-group" style="flex: none;">
                    <div class="button-container">
                      <button *ngIf="!service.isDeleted" type="button" class="delete-button" (click)="deleteService(service.id)">
                        Delete
                      </button>
                      <button type="submit" class="save-button">Save</button>
                    </div>
                  </div>
                  </div>
            </form>
        </div>
    </div>
</div>