<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <div class="logo-title-container">
          <img src="/assets/images/mss-logo-black-png.png" alt="Logo image" class="logo" />
       </div>
       <div class="form-group password-group">
        <label for="password">Current Password</label>
        <div class="password-container">
           <span class="caps-lock-warning" *ngIf="capsLockOn" title="CAPS-LOCK ON">
              <i class="fa-solid fa-eject"></i>
           </span>
           <input id="password" [type]="
         passwordVisible
         ? 'text'
         : 'password'
         " formControlName="password" required (keydown)="
         checkCapsLock(
         $event
         )
         " />
           <span class="toggle-password" (click)="
            togglePasswordVisibility()
            ">
              <i [class]="
            passwordVisible
            ? 'fa fa-eye-slash'
            : 'fa fa-eye'
            "></i>
           </span>
        </div>
     </div>
       <div class="form-group password-group">
          <label for="password">New Password</label>
          <div class="password-container">
             <span class="caps-lock-warning" *ngIf="capsLockOn" title="CAPS-LOCK ON">
                <i class="fa-solid fa-eject"></i>
             </span>
             <input id="newPassword" [type]="
           passwordVisible
           ? 'text'
           : 'password'
           " formControlName="newPassword" required (keydown)="
           checkCapsLock(
           $event
           )
           " />
             <span class="toggle-password" (click)="
              togglePasswordVisibility()
              ">
                <i [class]="
              passwordVisible
              ? 'fa fa-eye-slash'
              : 'fa fa-eye'
              "></i>
             </span>
          </div>
       </div>

       <div class="form-group password-group">
        <label for="password">Repeat New Password</label>
        <div class="password-container">
           <span class="caps-lock-warning" *ngIf="capsLockOn" title="CAPS-LOCK ON">
              <i class="fa-solid fa-eject"></i>
           </span>
           <input id="repeatNewPassword" [type]="
         passwordVisible
         ? 'text'
         : 'password'
         " formControlName="repeatNewPassword" required (keydown)="
         checkCapsLock(
         $event
         )
         " />
           <span class="toggle-password" (click)="
            togglePasswordVisibility()
            ">
              <i [class]="
            passwordVisible
            ? 'fa fa-eye-slash'
            : 'fa fa-eye'
            "></i>
           </span>
        </div>
     </div>
       <button class="log-in-button">Reset Password</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
       {{ errorMessage }}
    </div>
 </div>
 
