@import './styles/variables.scss';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";


html,

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
app-root {
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-top: 15px;
}

.mb-25 {
    margin-top: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.full-center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: start;
    justify-content: center;
}

.right {
    margin-left: auto;
}

.hidden {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    height: 100%;
}

.background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
    backface-visibility: hidden;
}

@media screen and (max-width: 650px) {
    .background-fixed {
        position: absolute;
        height: auto;
        padding-bottom: 56.25%; 
        min-height: 100vh; 
    }
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    background: transparent !important; 
}
.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px;
  }
