     <div class="circle-container">
        <app-progress-circle [maxValue]="totalCustomers" [targetValue]="totalCustomers"
            [strokeColor]="'#15696F'"></app-progress-circle>
        <div class="text-icon-container">
            <h1 >Happy Customer <i class="fa fa-user fa-2x"></i> </h1>
        </div>
    </div>

    <div class="circle-container">
        <app-progress-circle [maxValue]="totalVehicles" [targetValue]="totalVehicles"
            [strokeColor]="'#1C8D83'"></app-progress-circle>
        <div class="text-icon-container"> 
            <h1 >Vehicles Served <i class="fa fa-car fa-2x"></i> </h1>
        </div>
    </div>

    <div class="circle-container">
        <app-progress-circle [maxValue]="totalServices" [targetValue]="totalServices"
            [strokeColor]="'#D9B97A'"></app-progress-circle>
        <div class="text-icon-container">
            <h1 >Services Completed <i class="fa fa-wrench fa-2x"></i> </h1>
        </div>
    </div>
