.main-container {
  display: flex;
  gap: 20px;
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

.vehicle-list {
  margin: 20px auto;
  padding: 25px;
  max-width: 1000px;
  border-radius: 10px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;

    h2 {
      font-family: 'Arial', sans-serif;
      font-size: 26px;
      color: #495057;
      margin: 0;
    }

    i.fa-car {
      color: #15696f; 
    }

    .toggle-container {
      margin-left: auto;
    }
  }

  .search-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;

    input,
    select {
      width: 100%;
      padding: 10px 15px;
      font-size: 13px;
      border: 1px solid #ced4da;
      border-radius: 5px;
      background: #ffffff;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &.italic-input {
        color: #adb5bd;
      }

      &:focus {
        box-shadow: 0 0 0 4px rgba(255, 165, 38, 0.2);
        outline: none;
      }

      &::placeholder {
        color: #adb5bd;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;

    th {
      padding: 13px 18px;
      border: 1px solid #e9ecef;
      text-align: center;
      font-size: 13px;
      background-color: #f1f3f5;
      color: #495057;
      font-weight: 600;
      text-transform: uppercase;
    }

    td {
      padding: 14px 20px;
      border: 1px solid #e9ecef;
      text-align: center;
      font-size: 13px;
      background-color: #ffffff;
      transition: background-color 0.3s;
    }

    tbody tr {
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #dbe9ff !important;
        transform: scale(1.03);

        td {
          background-color: #dbe9ff !important;
        }
      }
    }

    .vehicle-plate {
      padding: 13px 10px;
    }
  }

  .header .fa {
    color: #15696f;
  }

  .vehicle-toggle {
    margin-left: auto;
  }
}
