<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="vehicle-list">
    <div class="header">
      <h2>Serviced Vehicles</h2>
      <i class="fa fa-car fa-2x"></i>
      <div class="toggle-container">
        <mat-slide-toggle [checked]="isDeleted" color="primary" class="vehicle-toggle" (change)="onToggleChange($event)">
          Deleted Vehicles
        </mat-slide-toggle>
      </div>
    </div>
    <div class="search-fields">
      <input type="text" [formControl]="manufacturerControl" placeholder="Manufacturer">
      <input type="text" [formControl]="modelControl" placeholder="Model">
      <input type="text" [formControl]="vehiclePlateControl" placeholder="Vehicle Plate">
      <input type="text" [formControl]="vinControl" placeholder="VIN">
      <input type="number" [formControl]="yearControl" placeholder="Year">

      <ng-select [formControl]="customerControl" (change)="onCustomerInputChange($event)" [items]="customers"
      bindLabel="fullName" bindValue="id" placeholder="Select Customer"
      [searchable]="true" [clearable]="true">
    </ng-select>
    </div>
    <table>
      <thead>
        <tr>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Vehicle Plate</th>
          <th>VIN</th>
          <th>Year of Manufacture</th>
          <th>Customer Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles" (click)="getVehicleById(vehicle.id)" style="cursor: pointer;">
          <td>{{ vehicle.manufacturer }}</td>
          <td>{{ vehicle.model }}</td>
          <td class="vehicle-plate">{{ vehicle.vehiclePlate }}</td>
          <td>{{ vehicle.vin }}</td>
          <td>{{ vehicle.yearOfManufacture }}</td>
          <td>{{ vehicle.customerDto.firstname }} {{ vehicle.customerDto.lastname }}</td>
          <td>{{ vehicle.customerDto.phoneNumber }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="vehicles.length === 0">
        <tr>
          <td colspan="7" style="text-align: center;">No vehicles found.</td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalItems" [pageSize]="pageSize"
      [pageIndex]="currentPage" (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
